h1 {
    background-color: lightgray;
}
h2 {
    text-align: center;
}
#textcolor {
    color: red;
}
.testclass {
    color: blue;
}
div.seconddiv p {
    background-color: yellow;
}
section:hover {
    background-color: orange;
}
hgroup:hover {
    background-color: violet;
}